<!DOCTYPE html>
<html lang="jp"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="users-recruitment-table(recruitmentList, userId)" th:remove="tag">
    <div th:with="usersRecruitmentList=${recruitmentList.?[recruiterId == __${userId}__]}">
        <div th:if="${usersRecruitmentList.size() <= 0}">
            <p class="is-size-5">None</p>
        </div>
        <table th:if="${usersRecruitmentList.size() > 0}"
               class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>Detail</th>
                <th>Recruiting</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="recruitment : ${usersRecruitmentList}" th:object="${recruitment}">
                <td class="is-narrow is-vcentered has-text-centered" th:text="${#numbers.formatInteger(recruitment.getRegistrationNumberInBoard(), 2)}"></td>
                <td><p th:text="*{getDetails()}"></p></td>
                <td class="is-narrow is-vcentered has-text-centered">
                    <span th:if="*{isRecruiting()}" class="icon has-text-success">
                        <i class="fas fa-circle"></i>
                    </span>
                    <span th:if="*{!isRecruiting()}" class="icon has-text-danger">
                        <i class="far fa-times-circle"></i>
                    </span>
                </td>
                <td class="is-narrow"><input class="button is-rounded is-small" type="button" value="Modify" th:href="@{/}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>