<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Mynah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script type="text/javascript" src="../../static/js/navibar.js" th:src="@{/js/navibar.js}"></script>
    </head>

    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <p class="navbar-item">Mynah</p>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbar-elem">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbar-elem">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">Home</a>
                </div>
                <div class="navbar-end columns">
                    <div class="navbar-item is-2">
                        <span sec:authorize="isAuthenticated()" class="has-text-centered" th:text="${#authentication.name}"></span>
                    </div>
                    <div class="navbar-item is-2">
                        <a sec:authorize="!isAuthenticated()" class="button is-primary is-small" href="/login" ><strong>LOGIN</strong></a>
                        <a sec:authorize="isAuthenticated()" class="button is-danger is-light is-small" href="/logout" ><strong>LOGOUT</strong></a>
                    </div>
                    <div class="navbar-item">

                    </div>
                </div>
            </div>
        </nav>
        <div layout:fragment="contents" th:remove="tag"></div>
    </body>
</html>